<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>{{ name }}</h1>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <input id="site" type="text" value="">
        <input id="longitude" type="text" value="">
        <input id="latitude" type="text" value="">

        <div id="r-result">
            城市名: <input id="cityName" type="text" style="width:100px; margin-right:10px;" />
            经度: <input id="lon" type="text" style="width:100px; margin-right:10px;" />
            纬度: <input id="lat" type="text" style="width:100px; margin-right:10px;" />
            <input type="button" value="查询" onclick="theLocation()" />
        </div>

        <div id="allmap" style="height:700px;width:800px;"></div>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=0F0c3121d1bd0beeef20a07c561d92c1"></script>
        {#以下是一个无效的秘钥，对比使用#}
        {#<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=HkNTMR9M1Ajc2gZgQTeiQbSraf8hyaG"></script>#}

        <script type="text/javascript">


            // 百度地图API功能
            var map = new BMap.Map("allmap");// 实例化一个地图对象
            var point = new BMap.Point(116.331398,39.897445); // 设置地图中心的位置
            map.centerAndZoom(point,12); // 设置地图元素的可见层
            map.enableScrollWheelZoom(true); // 启用滚轮放大缩小，默认禁用
            map.enableContinuousZoom(); // 启用地图惯性拖拽，默认禁用

            function myFun(result){
                var cityName = result.name;
                map.setCenter(cityName);
                con("当前定位城市:"+cityName);
            }
            var myCity = new BMap.LocalCity();
            myCity.get(myFun);

            var opts = {
//                anchor: BMAP_ANCHOR_TOP_LEFT,
//                offset: new BMap.Size(150,5)
            }
            // map.setCurrentCity("北京");//在设置好地图中心点的前提下显示背景的整体图
            map.addControl(new BMap.NavigationControl(opts));//addControl()向地,图添加控件 平移和缩放控件 PC端默认左上角 移动端默认右下角且只有缩放功能
            map.addControl(new BMap.ScaleControl(opts));//比例尺控件 默认左下角
            map.addControl(new BMap.OverviewMapControl(opts));//缩略图控件 默认右下角且呈可折叠状态（点击隐藏和显示）
            map.addControl(new BMap.MapTypeControl());//地图类型控件 默认右上角可切换地图/卫星/三维三种状态
            map.addControl(new BMap.GeolocationControl(opts));//定位控件 默认左下角

            var i = 0;
            map.addEventListener("click", function(e){
                // if (i === 0){
                //通过点击百度地图，可以获取到对应的point, 由point的lng、lat属性就可以获取对应的经度纬度
                var pt = e.point;
                var lng = pt.lng;
                var lat = pt.lat;
                var marker = new BMap.Marker(new BMap.Point(lng,lat)); // 创建标注
                var allOverlay = map.getOverlays();

                if(allOverlay[0] == null){
                    map.addOverlay(marker);
                }else{
                    map.removeOverlay(allOverlay[0]);
                    map.clearOverlays();
                    map.addOverlay(marker);
                }
                // map.removeOverlay(marker);
                marker.enableDragging(); // 可拖拽
                var geoc = new BMap.Geocoder();
                geoc.getLocation(pt, function(rs){
                    //addressComponents对象可以获取到详细的地址信息
                    var addComp = rs.addressComponents;
                    var site = addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;

                    // var label = new BMap.Label(site,{offset:new BMap.Size(20,-10)});
                    // marker.setLabel(label);

                    //将对应的HTML元素设置值
                    $("#site").val(site);
                    $("#longitude").val(lng);
                    $("#latitude").val(lat);
                });
                // i = 1;
                // }

            });


            function theLocation(){
                var city = document.getElementById("cityName").value;
                if(city != ""){
                    map.centerAndZoom(city,11);      // 用城市名设置地图中心点
                }

                if(document.getElementById("longitude").value != "" && document.getElementById("latitude").value != ""){
                    map.clearOverlays();
                    var new_point = new BMap.Point(document.getElementById("lon").value,document.getElementById("lat").value);
                    var marker = new BMap.Marker(new_point);  // 创建标注
                    map.addOverlay(marker);              // 将标注添加到地图中
                    map.panTo(new_point);
                }
            }
        </script>
    </body>
</html>
